{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url(../static/images/chef_no_text.jpg); background-size: 100% 100%;">
        <div class="row">
			<div class="col-md-6"></div>
			<div class="col-md-6 px-0 text-right">
				<h1 class="display-4 font-italic">What is Baby Led Weaning (BLW)?</h1>
				<p class="lead my-3">A short introduction to Baby Led Weaning from founder and Registered Dietitian, Jessica Coll.</p>
				<p class="lead mb-0"><a href="https://jessicacoll.com/what-is-baby-led-weaning.html" target="_blank" class="text-white font-weight-bold">Click here to read...</a></p>
			</div>
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-md-6">
			<div class="card flex-md-row mb-4 shadow-sm h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
					<strong class="d-inline-block mb-2 text-primary">BLW Workshops</strong>
					<h3 class="mb-0">
						<a class="text-dark" href="#">Cincinnati BLW Workshop</a>
					</h3>
					<div class="mb-1 text-muted">Nov 10 2018 10am - 12pm</div>
					<p class="card-text mb-auto">Join Registered Dietitian Candace Winterbauer for an in person group workshop on Baby Led Weaning.  Learn how to get started and have your questions answered.</p>
					<a href="#">Sign up...</a>
				</div>
				<!-- <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap"> -->
			</div>
		</div>
		<div class="col-md-6">
			<div class="card flex-md-row mb-4 shadow-sm h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
					<strong class="d-inline-block mb-2 text-success">Individual Counseling</strong>
					<h3 class="mb-0">
						<a class="text-dark" href="#">Schedule a 1 on 1 session</a>
					</h3>
					<div class="mb-1 text-muted">By appointment</div>
					<p class="card-text mb-auto">Meet in person with Registered Dietitian Candace Winterbauer.  Get help with Baby Led Weaning, cardiac rehab nutrition, weight management, starting a garden for family nutrition, etc in a personal one on one session.</p>
					<a href="#">Schedule an appointment...</a>
				</div>
				<!-- <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap"> -->
			</div>
		</div>
	</div>
	
</div>
{% endblock %}